@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Lexend:wght@500;700&display=swap');

// Fonts
$font_main: 'Lexend', sans-serif;
$font_second: 'Archivo', sans-serif;

// VARIABLER
// colors
$silver: #AAAAAA;
$dim-gray: #666666;
$davy-gray: #555555;
$delft-blue: #293B5F;
$dark-purple: #261C2C;
$blush: #D45D79;